{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.	See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.	If not, see <http://www.gnu.org/licenses/>.
*/ -}}
{{ template "header.tmpl" .}}
<main class="about">
	<h1>/about</h1>

	<p>Personal homepage of <a href="https://dym.sh/self/">Dym Sohin</a>, a professional Web/App/Ui Developer
	</p>

	<h2>(self-imposed)<br>terms&nbsp;of&nbsp;service</h2>
	<ul>
		<li>no hate</li>
		<li>no drama</li>
		<li>no bullshit</li>
	</ul>

	<h2>content license</h2>
	<section>
		<p>Unless noted otherwise,</p>
		<ul>
			<li>texts, pictures, and audio/visual media are distributed under
				<a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>
			</li>
			<li>code snippets are distributed under
				<a href="https://spdx.org/licenses/0BSD.html" target="_blank">0BSD</a>
			</li>
		</ul>
		<p>(regular use within fediverse and blogosphere already complies with those by default)
		</p>
		<p>you can <a href="https://dym.sh/contacts/">contact</a> me for other uses (i.e. commercial distribution)
		</p>
	</section>

	<h2>fediverse</h2>
	<ul class="col-2 tablet-col-1">
		<li>server runs on <a href="https://gotosocial.org" target="_blank">GoToSocial</a></li>
		<li>see official <a href="https://github.com/superseriousbusiness/gotosocial" target="_blank">source code</a> repo</li>
		<li>also applied my <a href="https://source.garden/styles/gts-web/" target="_blank">custom templates</a></li>
		<li>posts can contain up to {{.instance.Configuration.Statuses.MaxCharacters}} characters and
			{{.instance.Configuration.Statuses.MaxMediaAttachments}} media attachments
		</li>
		<li>polls can have up to {{.instance.Configuration.Polls.MaxOptions}} options, with
			{{.instance.Configuration.Polls.MaxCharactersPerOption}} characters each
		</li>
		<li>federating with <span class="count">{{.instance.Stats.domain_count}}</span> instances</li>
		<li>list of <a href="/about/suspended" target="_blank">suspended domians</a></a>
	</ul>

	<h2>social profiles</h2>
	<ul class="col-2">
 		<li><a target="_blank" href="mailto:re@dym.sh">email</a></li>
		<li><a target="_blank" href="https://dym.sh/@dym">microblog</a></li>
		<li><a target="_blank" href="https://lemmy.world/u/dym_sh">lemmy</a></li>
		<li><a target="_blank" href="https://figma.com/@dym_s h">figma</a></li>
		<li><a target="_blank" href="https://layers.to/dym_sh">layers</a></li>
		<li><a target="_blank" href="https://codepen.io/dym-sh">codepen</a></li>
		<li><a target="_blank" href="https://userstyles.world/user/dym-sh">userstyles</a></li>
		<li><a target="_blank" href="https://github/dym-sh">github</a></li>
		<li><a target="_blank" href="https://indieweb.org/User:Dym.sh">indieweb</a></li>
	</ul>

</main>

<footer>
	<div class="buttons round">
		<a href="/"
			class="bg-icon"
			title="/"
			><span class="hidden">/</span>
		</a>
	</div>
</footer>

</body>
</html>
