{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{ template "header.tmpl" .}}

<main class="profile">

	<div class="header">

		<section class="user">
			<figure>
				<img src="{{.account.Header}}" class="bg" alt="">
				<img src="{{.account.Avatar}}" class="avatar" alt="">
				{{ if and (.account.Role) (ne .account.Role.Name "user") }}
				<figcaption class="role {{ .account.Role.Name }}">
					{{ if and (.account.Role) (eq .account.Role.Name "admin") }}
						webmain
					{{ else }}
						{{ .account.Role.Name }}
					{{ end }}
				</figcaption>
				{{ end }}
			</figure>

			<div class="displayname">
				{{if .account.DisplayName}}
				{{emojify .account.Emojis (escape .account.DisplayName)}}
				{{else}}
				{{.account.Username}}
				{{end}}
			</div>

			<div class="username">@{{.account.Username}}@{{.instance.AccountDomain}}</div>
		</section>

		<section class="bio">
			{{ if .account.Note }}
			{{emojify .account.Emojis (noescape .account.Note)}}
			{{else}}
			no bio
			{{end}}
		</section>

		<section class="fields">
			{{ range .account.Fields }}
			<b>{{emojify $.account.Emojis (noescape .Name)}}</b>
			<span>{{emojify $.account.Emojis (noescape .Value)}}</span>
			{{ end }}
		</section>

		<section class="fields">
			<b>joined</b><time datetime="{{.account.CreatedAt}}">{{.account.CreatedAt | timestampVague}}</time>
			<b>followers</b><span>{{.account.FollowersCount}}</span>
			<b>follows</b><span>{{.account.FollowingCount}}</span>
			<b>posts</b><span class="flex">
				<span>{{.account.StatusesCount}}</span>
				{{ if .rssFeed }}
				<a href="{{ .rssFeed }}" class="rss-icon" aria-label="RSS feed">
					<img src="/rss.svg" width="20" height="20">
				</a>
				{{ end }}
			</span>
		</section>
	</div>

	<section class="toots">
		{{ if .pinned_statuses }}
		<section class="thread">
			{{ range .pinned_statuses }}
			<article class="toot expanded" id="{{.ID}}">
				{{ template "status_profile.tmpl" .}}
			</article>
			{{ end }}
		</section>
		{{ end }}

		<section class="thread">
			{{ if not .statuses }}
			<div data-nosnippet class="nothinghere">Nothing here!</div>
			{{ else }}
			{{ range .statuses }}
			<article class="toot expanded" id="{{.ID}}">
				{{ template "status_profile.tmpl" .}}
			</article>
			{{ end }}
			{{ end }}
		</section>

		<div class="backnextlinks">
			{{ if .show_back_to_top }}
			<a href="/@{{ .account.Username }}">Back to top</a>
			{{ end }}
			{{ if .statuses_next }}
			<a href="{{ .statuses_next }}" class="next">Show older</a>
			{{ end }}
		</div>
	</section>

</main>

{{ template "footer.tmpl" .}}